/* debug
table, td {
	border: 1px solid black;
}
/**/

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  letter-spacing: -0.05em;
  text-align: center;
  margin: 0.25em auto;
  font-variant: small-caps;
  font-weight: bold;
  border-bottom: 2px solid #000;
  width: 50%;
}

hr {
  margin: 0 auto;
  width: 95%;
  border: 2px solid #000;
}

body {
  font-family: Arial, sans-serif;
  font-size: .75em;
}

fieldset {
  margin: 2em auto;
  padding: 1em;
  width: 25%;
}

fieldset p {
  text-align: right;
  line-height: 2.5em;

}

fieldset p#advanced {
  display: none;
}

/*
table#list {
  width: 98%;
}
*/

table.center {
  margin-left: auto;
  margin-right: auto;
}

table.no-pad {
  border-collapse: collapse;
}

/* WhyTF doesn't this work? */
table.item-table {
  height: 100%;
}

td.item {
  /*width: 25%;*/
  padding-bottom: 1em;
  vertical-align: bottom;
}

td.cover, td.artist, td.album {
  text-align: center;
  font-size: 80%;
}

td.cover {
  vertical-align: top;
}

td.cover img {
  width: 150px;
  height: auto;
}

td.cover .cover-image {
  width: 155px;
  height: 155px;
  overflow: hidden;
}

td.artist {
  font-weight: bold;
}

td.choice {
  text-align: right;
}

td.choice label {
  padding-bottom: 20px;
  font-size: 90%;
  font-weight: bold;
}

table.navigation {
  width: 98%;
  margin-top: 1em;
  margin-bottom: 1em;
}

td.prev {
  width: 45%;
  text-align: right;
}

td.finish {
  width: 10%;
  text-align: center;
}

td.next {
  width: 45%;
  text-align: left;
}

a:link img, a:visited img {
  border: 3px solid #FFFFFF;
}

a:hover img {
  border: 3px solid #99CCFF;
}


#last-visit {
  font-size: 70%;
  text-align: right;
}

/* neat trick from http://pdatabase.dyndns.biz/tutorial02.php */

input[type="radio"] {
  visibility: hidden;
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

input[type="radio"] + label {
  padding-left: 20px;
  /* height: 16px; /* this seems to be ignored by FF :/ */
  background: url("images/radio.png") no-repeat;
}

input.accepted[type="radio"]:checked + label {
  background: url("images/radio-accepted.png") no-repeat;
}

input.rejected[type="radio"]:checked + label {
  background: url("images/radio-rejected.png") no-repeat;
}

input.undefined[type="radio"]:checked + label {
  background: url("images/radio-checked.png") no-repeat;
}
