body {
    font-family: verdana, arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 60em; /* About 960px with default font size of 16px */
    position: relative;
}

#header {
    display: table;
    margin-top: 0;
    margin-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: -0.05em;
    font-variant: small-caps;
    border-bottom: 2px solid black;
}

#login-form {
    padding: 1em;
    width: 26em;
    font-size: 0.75em;
}

#login-form fieldset {
    padding-bottom: 0;
}

#login-form p {
    text-align: right;
}

#login-form #show-advanced {
    /* prevents a "jump" when advanced options show */
    line-height: 2em;
}

#login-form #advanced {
    line-height: 2em;
    display: none;
}

.nav {
    width: 5em;
    min-width: 5em;
}

#nav-left {
    text-align: right;
}

#nav-right {
    text-align: left;
}

#list {
    border-collapse: collapse;
}

#list .item {
    width: 164px; /* 150px cover + 2x2px padding + 2x5px border */
    text-align: center;
}

.item .artist, .item .album {
    display: none;
}

.item .cover-container {
    position: relative;
    width: 164px;
    height: 164px;
}

.cover-container .overlay {
    position: absolute;
    top: 6px;
    left: 6px;
    display: none;
}

.cover-container .cover {
    padding: 2px;
    border: 5px solid;
}

.cover-container .cover-add {
    border-color: limegreen;
}

.cover-container .cover-rem {
    border-color: tomato;
}

.cover-container .cover-und {
    border-color: transparent;
}

.item .choices {
    margin: 2px 4px 0 4px;
    text-align: right;
}

.choices input {
    display: none;
}

.choices img {
    vertical-align: top;
}

#selected-artist, #selected-album {
    text-align: center;
}

#selected-artist {
    height: 1.5em;
    font-size: 0.5em;
}

#selected-album {
    font-size: 0.75em;
    font-weight: bold;
    height: 1.25em;
}

#player-table {
    margin-top: 0.2em;
    width: 30em;
    border-collapse: collapse;
}

#player-cover-container {
    width: 105px;
    height: 105px;
    padding: 0;
    text-align: center;
    vertical-align: top;
}
    
#player-cover {
    border: 2px solid black;
}

#player-controls {
    text-align: center;
    vertical-align: top;
}

#player-meta {
    padding-top: 0.5em;
    padding-left: 0.5em;
    vertical-align: top;
}

#player-artist {
    font-size: 0.75em;
}

#player-album {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.25em;
}

#player-title {
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: gray 1px 1px 1px;
    margin-top: 0.1em;
}

#player-next {
    font-size: 1em;
    margin-top: 0.25em;
}

#player-next-title {
    font-style: italic;
}

#player-artist, #player-album, #player-title, #player-next {
    overflow: hidden;
}

#toolbar {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 32px;
}

#toolbar img, #toolbar input {
    vertical-align: middle;
}

#signoff {
    margin-top: 2em;
    border: 1px solid black;
    padding: 0 0.75em;
    width: 25em;
}

#home-link {
    border: 1px solid blue;
    padding: 0.25em 0.5em;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#home-link img {
    vertical-align: text-bottom;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

a:link, a:visited, a:active {
    color: blue;
    text-decoration: none;
}

a img {
    border: none;
}

a:focus, input:focus {
    outline-style: none;
}

.dbg {
    border: 1px solid magenta;
}

